
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: var(--primary-font);
}

:root{
    /* color */
    --primary-color : #222A52 ;
   --gray : #D0D0D0;
   --base-color : #FAFAFA;
   --sec-color: #EB455F;
   --skyBlue:  #BAD7E9;

     /* fonts */
   --primary-font:  'IBM Plex Sans';
   --other-font : 'Varela Round', sans-serif ;
   
}



 .primary-btn{
    outline: none;
    background-color: var(--primary-color) !important;
    color: #ffff !important;
    font-family: var(--primary-font) !important;
    padding: 5%;
    border: none !important;

  
 }

   /* primary */

 .primary-color{
    background-color: var(--primary-color);
    color: #ffff;
 }

 .baseColor{
    background-color: var(--base-color)!important;
 }

 .link-hover {

 }
 




 /* Button */
 .primary-btn{
    outline: none;
    background-color: var(--primary-color) !important;
    color: #ffff !important;
    font-family: var(--primary-font) !important;
    padding: 5%;
    border: none !important;
 }

 .sec-btn{
    outline: none;
    background-color: var(--primary-color) !important;
    color: #ffff !important;
    font-family: var(--primary-font) !important;
    padding: 2%;
    border: none !important;

 }

 a{
    text-decoration: none !important ;
    color: var(--primary-color) !important;
 }
 a:hover{
    color: var(--sec-color) !important;
 }
 

    /****** text style *********/

  .primary-text-color{
    
    color:var(--primary-color);
    font-family: var(--other-font);
    
  }
   

   .title{
    font-size: 40px;
    color: var(--primary-color);
 }



   /****** border ******/

   .border-color{
     border: 1px solid var(--skyBlue) ;
     border-radius: 10px ;
   }

  




   /* navbar */
   .navbar{
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    
   }

   .nav-link{
    color: var(--primary-color) !important;
    font-size: 20px !important;
   }
   .header{
     margin-right: 500px !important;

     
   }

   .icon-header{
    width: 30px !important;
    height: 30px !important;
   }

   .profile-name{
    font-family:var(--primary-font) !important;
    font-size: 25px !important;
    
   }




    /* Login compontes */

    .input{
        
        box-shadow: none !important;
        border: 1px solid var(--primary-color) !important;
        width: 70% !important;

    }
    .input:hover{
        border-color: var(--sec-color) !important;
    }

    .login-form{
        width: 50%;
        margin-right: 22%;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background-color: #F5F5F5;

    }

    /********* Rejester page ************/

    .tabs{
        width: 50% !important;
        margin-top: 3%!important;
    }

  
    
    
  

    /********** sign-up page  ************/




    /******** Check componte **********/
    .boarder{
        border: none !important;
        border-bottom: 2px solid var(--primary-color) !important;
        outline: none !important ;
        width: 20% !important;
        display: inline !important;
        margin-right: 5%;  

    }

    /****** success check ***********/
    .agree-icon{
        width: 40%;
        height: 40%;
        color: var(--primary-color);
    
        
    }


 /******* link ***********/
    .forgetPassword{
        font-size: 15px !important;
        color: var(--primary-color);
        font-family: var(--primary-font);
        
    }






    /* contact us  page */
       
    

   

       /* Card */
   
     .card{
        width: 250px !important;
        height: 400px !important;
        /* display: inline !important; */
        /* background-color: var(--base-color) !important; */
        /* margin-right: 8%; */
        border-radius: 20px !important;
        color: var(--primary-color);
        font-family: var(--primary-font);
  
     }
     
     .wrapper{
        display: flex !important;
        overflow-x: auto !important;
        
     }
    
     .wrapper::-webkit-scrollbar{
        width: 0;

     }


       /* wallet card */

       .wallet-card{
        background-color: var(--base-color);
        border: 1px solid  rgb(207, 206, 206) ;
       }


 /************ Profile **********************/

 .profileList{
 display: flex;
 flex-direction: column;
 justify-content: right;
 align-items:start;
 gap: 30px;
 }
 

 .width-50{
    width: 50%;
 }

 .message{
    background-color: var(--sec-color);
    width: 25px !important;
    border-radius: 50%;
    text-align: center;
    color: #F5F5F5;
 }

.btn-message{
    border: none;
    width: 100%;
    background-color: #ffff;
    border-bottom:1px solid #222A52;

}



/************************ store page  *******************************/

 

/* search bar  */



/* search input */
.search-input{
   border: 2px solid var(--primary-color) !important;
   outline: none;
   width: calc(100%- 64%);
   height: 100%;
   border-radius: 4rem;
   padding-left: 14px;
   font-family: var(--primary-font);
   font-size: 20px;
   font-weight: 500;
}
.search-input:-webkit-autofill {
   box-shadow : 0 0 0 100px var(--base-color) inset ;

}

.search-input::placeholder{
   padding-right: 10px !important;
   font-size: 15px !important;
   font-family: var(--other-font) !important;

}

/* search button  */

.search-button{
   border: none !important;
   width: 30px;
   height: 30px;
   background-color: var(--primary-color);
   border-radius: 50%;
   left:10px;
   right:0;
   top:0;
   place-items: center;
   cursor: pointer;
}



   /* add to cart button */
   .card-btn{
      border: none !important;
      outline: none;
      background-color: var(--primary-color);
      width: 300px;
      border-radius: 20px;
      color: var(--base-color);
      height: 40px !important;
   }











  /* footer */

 footer{
    background-color: var(--base-color);
 }

 .link{
   color:var(--primary-color) !important;
 }
 
 .link:hover{
    color: var(--sec-color) !important ;
 }
 

  .icon{
    width: 12%;
    height: 12%;
   color: var(--primary-color);

  }

  .footer-logo{
    text-align: left;
  }

  .footer-font{
    font-family: var(--other-font);
    font-size: 2rem !important;
    color: var(--primary-color) !important;
  }